html,
body {
  width: 100%;
  box-sizing: border-box;
}

* {
  font-family: "BeaufortforLOL", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #f5f0df;
  font-family: "BeaufortforLOL", sans-serif;

  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h2 {
  margin-top: 12px;
  margin-bottom: 8px;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

a {
  color: #cbab5c;
  text-decoration: none;
  position: relative;
}

button {
  cursor: pointer;
  padding: 0.25rem;

  text-align: center;
  text-transform: uppercase;

  color: #f5f0df;
  border: 2px solid #c2aa70;
  background-color: #161614;
}

.flex-center {
  display: flex;

  align-items: center;
  justify-content: center;
}

.absolute-full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #201e19;
}
::-webkit-scrollbar-thumb {
  background: #81785d;
}
::-webkit-scrollbar-thumb:hover {
  background: #c2aa70;
}


.guild-member {
  width: calc(100% - 20px);
  margin-right: 20px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media all and (min-width: 576px) {
  .guild-member {
    width: calc(50% - 20px);
  }
}
@media all and (min-width: 765px) {
  .guild-member {
    width: calc(33% - 20px);
  }
}
@media all and (min-width: 1024px) {
  .guild-member {
    width: calc(25% - 20px);
  }
}