:root {
  --status-game-normal: hsl(202, 99%, 33%); /* #016AA7 */
  --status-game-light: hsl(202, 69%, 56%); /* #41A3DC */
  --status-active-normal: hsl(147, 99%, 33%); /* #02A64B */
  --status-active-light: hsl(147, 69%, 56%); /* #42DD88 */
  --status-away: hsl(0, 69%, 56%); /* #DC4141 */
  --status-unknown: hsl(0, 0%, 60%); /* #666666 */
  --main-primary: hsl(46, 52%, 92%); /* #F5F0DF */
  --main-secondary: hsl(42, 40%, 60%); /* #C2AA70 */
  --main-medium: hsl(42, 40%, 80%); /* #E0D4B8 */
  --main-dark: hsl(42, 16%, 44%); /* #C2AA70 */
  --main-background: hsl(60, 5%, 8%); /* #161614 */
  --main-background-transparent: hsla(218, 80%, 2%, 0.65); /* rgba(1, 4, 9, 0.65) */
  --main-background-transparent-dark: hsla(218, 80%, 2%, 0.85); /* rgba(1, 4, 9, 0.85) */
  --game-win: var(--status-active-normal);
  --game-lose: var(--status-away);
  --grid-gap: 20px;
  --topbar-height: 24px;
}

html,
body {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

* {
  font-family: "BeaufortforLOL", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: var(--main-medium);
  border: 1px solid var(--main-dark);
  font-family: "BeaufortforLOL", sans-serif;

  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1, h2, h3, h4 {
  color: var(--main-primary);
}

h1 {
  text-align: center;
}

h2, h3 {
    margin-bottom: 8px;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

a {
  color: var(--main-secondary);
  text-decoration: none;
  position: relative;
}
a.active.use-active {
  color: var(--main-primary);
}
a.active.use-active:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;

  margin: 0 auto;
  width: 75%;
  height: 2px;
  background: var(--main-primary);
}

.mini-block,
button {
  cursor: pointer;
  padding: 0.25rem;

  text-align: center;
  text-transform: uppercase;

  color: var(--main-primary);
  border: 1px solid var(--main-secondary);
  background-color: var(--main-background);
}

.flex-center {
  display: flex;

  align-items: center;
  justify-content: center;
}

.absolute-full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #201e19;
}
::-webkit-scrollbar-thumb {
  background: #81785d;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--main-secondary);
}

.window-controls {
  -webkit-app-region: drag;
  height: var(--topbar-height);
  z-index: 100;
  width: 100%;
  background: var(--main-background-transparent-dark);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.window-control {
  -webkit-app-region: none;
  color: var(--main-medium);
  border: none;
  width: calc(var(--topbar-height) * 1.5);
  height: var(--topbar-height);
  background: transparent;
}
.window-control > svg {
  width: 50%;
  height: auto;
}
.window-control#close-button > svg {
  width: 34%;
}
.window-control > svg > rect,
.window-control > svg > path {
  stroke: currentColor;
  fill: var(--main-background);
}
.window-control:hover, .window-control:focus {
  background: var(--main-dark);
}
.window-control:focus {
  color: var(--main-primary);
  outline: none;
}
.window-control:hover > svg > rect,
.window-control:hover > svg > path,
.window-control:focus > svg > rect,
.window-control:focus > svg > path {
  fill: var(--main-dark);
}
#unmaximize-button {
  display: none;
}
.window-maximized #unmaximize-button {
  display: flex !important;
}
.window-maximized #maximize-button {
  display: none;
}

#app {
  width: 100vw;
  height: calc(100vh - var(--topbar-height));
  overflow: auto;
  position: relative;
}

.page {
  display: grid;
  gap: var(--grid-gap);
}

.horizontal-scroll {
  width: calc(100vw - 20px * 2);
}
.horizontal-scroll__scrollable {
  padding-bottom: 10px;
}

.not-found,
.not-launched,
.summoner-loading {
  flex-direction: column;
}

.not-found__button,
.not-launched__button,
.summoner-loading__button {
  margin: 12px auto;
  padding: 4px 8px;
}

.main-application {
  display: grid;
  grid-template-areas: 
    "header"
    "navigation"
    "main";
  gap: var(--grid-gap);
  padding-bottom: 20px;
}
