:root {
  --status-inactive-normal: hsl(202, 99%, 33%); /* #016AA7 */
  --status-inactive-light: hsl(202, 69%, 56%); /* #41A3DC */
  --status-active-normal: hsl(147, 99%, 33%); /* #02A64B */
  --status-active-light: hsl(147, 69%, 56%); /* #42DD88 */
  --status-away: hsl(0, 69%, 56%); /* #DC4141 */
  --status-unknown: hsl(0, 0%, 40%); /* #666666 */
  --main-primary: hsl(46, 52%, 92%); /* #F5F0DF */
  --main-secondary: hsl(42, 40%, 60%); /* #C2AA70 */
  --main-medium: hsl(42, 40%, 80%); /* #E0D4B8 */
  --main-background: hsl(60, 5%, 8%); /* #161614 */
  --main-background-transparent: hsla(218, 80%, 2%, 0.65); /* rgba(1, 4, 9, 0.65) */
}

html,
body {
  width: 100%;
  box-sizing: border-box;
}

* {
  font-family: "BeaufortforLOL", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: var(--main-primary);
  font-family: "BeaufortforLOL", sans-serif;

  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 12px;
  margin-bottom: 8px;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

a {
  color: var(--main-secondary);
  text-decoration: none;
  position: relative;
}

.mini-block,
button {
  cursor: pointer;
  padding: 0.25rem;

  text-align: center;
  text-transform: uppercase;

  color: var(--main-primary);
  border: 1px solid var(--main-secondary);
  background-color: var(--main-background);
}

.flex-center {
  display: flex;

  align-items: center;
  justify-content: center;
}

.absolute-full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #201e19;
}
::-webkit-scrollbar-thumb {
  background: #81785d;
}
::-webkit-scrollbar-thumb:hover {
  background: #c2aa70;
}

#app {
  padding-bottom: 20px;
}

.not-found,
.not-launched,
.summoner-loading {
  flex-direction: column;
}

.not-found__button,
.not-launched__button,
.summoner-loading__button {
  margin: 12px auto;
  padding: 4px 8px;
}

.guild-member {
  width: calc(100% - 20px);
  margin-right: 20px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media all and (min-width: 576px) {
  .guild-member {
    width: calc(50% - 20px);
  }
}
@media all and (min-width: 765px) {
  .guild-member {
    width: calc(33% - 20px);
  }
}
@media all and (min-width: 1024px) {
  .guild-member {
    width: calc(25% - 20px);
  }
}
